.container {
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;

    div {
        width: 100%;
    }
}

.dropzone {
    border: 3px solid black;
    height: 400px;
    width: 100%;
    padding: 0;
    border-radius: 5px;

    &.hovered {
        border: 3px dashed black;
        background: lightgray;
    }
}

.dropEntry {
    border: 1px solid black;
    list-style-type: none;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.team1 {
        background: rgba(0,0,200,0.3);
    }

    &.team2 {
        background: rgba(200,0,0,0.3);
    }
}

.winning-team-chooser {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto 1rem auto;

    h1 {
        text-align: center;
    }
}

mat-radio-group {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    display: block;
    width: 10em;
    margin: 0 auto;
}