<div style="display: flex;" class="container">
  <div>
    <h1 style="text-align: center;">Team 1 </h1>
    <ul style="list-style: none;" class="dropzone" [class.hovered]="leftHovered" (dragenter)="leftHover($event)"
      (dragleave)="clearHoverLeft($event)" (dragover)="leftHover($event)" (drop)="dropLeft($event)">
      <li class="dropEntry team1" *ngFor="let playerElo of leftSideEntries" (dragenter)="allowDrop($event)"
        (dragleave)="allowDrop($event)" (dragover)="allowDrop($event)" (drop)="allowDrop($event)">
        <span>
          {{playerElo[1].username}}
        </span>
        <button mat-icon-button color="warn" (click)="removePlayer(leftSide, playerElo[1])">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <div>
    <h1 style="text-align: center;">Team 2 </h1>
    <ul style="list-style: none;" class="dropzone" [class.hovered]="rightHovered" (dragenter)="rightHover($event)"
      (dragleave)="clearHoverRight($event)" (dragover)="rightHover($event)" (drop)="dropRight($event)">
      <li class="dropEntry team2" *ngFor="let playerElo of rightSideEntries" (dragenter)="allowDrop($event)"
        (dragleave)="allowDrop($event)" (dragover)="allowDrop($event)" (drop)="allowDrop($event)">
        <span>
          {{playerElo[1].username}}
        </span>
        <button mat-icon-button color="warn" (click)="removePlayer(rightSide, playerElo[1])">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="winning-team-chooser">
  <h1>Winning Team</h1>
  <mat-radio-group class="noselect" [(ngModel)]="winner">
    <mat-radio-button value="1">Team 1</mat-radio-button>
    <mat-radio-button value="2">Team 2</mat-radio-button>
  </mat-radio-group>
</div>

<button class="submit-button" mat-raised-button color="primary" (click)="SubmitResult()">Submit</button>