/* You can add global styles to this file, and also import other style files */
.noselect {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

html, body { height: 100%; }

body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }
