<mat-form-field>
    <mat-label>Select Game</mat-label>
    <mat-select placeholder="Choose Game" (selectionChange)="selectionChange($event)" [value]="defaultId">
      <mat-option *ngFor="let game of (games$ | async)" [value]="game.ID">
        {{game.Name}}
      </mat-option>
    </mat-select>
</mat-form-field>