.page {
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1rem;
}

@media only screen and (max-width: 980px) {
  .container {
    grid-template-columns: 1fr;
  }
}