<div class="page">
    <app-games-selector (selectedGame)="setGame($event)"></app-games-selector>
    <div class="container">
        <div>
            <h1>All Players</h1>
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
            </div>
            <mat-table class="mat-elevation-z8 noselect" [dataSource]="dataSource">
                <ng-container matColumnDef="seqNo">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let rank">{{rank.seqNo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let rank">{{rank.username}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="elo">
                    <mat-header-cell *matHeaderCellDef>Elo</mat-header-cell>
                    <mat-cell *matCellDef="let rank">{{rank.elo}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns" (dragstart)="dragStart($event, row)"
                    draggable="true"></mat-row>
            </mat-table>
        </div>
        <app-results style="position: sticky; top: 2rem; height: fit-content"></app-results>
    </div>
</div>